body
    {
    
    
    }
.g
    {
    border: 3px solid;  
    border-color: darkblue;
    height: 100px;
    width: 100px;
    }
.top
    {
    float: left;             
    }
.med
    {
    float: left             
    }
.bot
    {
    float: left;             
    }
.rig
    {
      
    }
#GameBoard
{
    border-color: black;
    border: 3px solid; 
    height: 400px;
    width: 400px;
    padding: 50px;
    margin: 100;
}